/* -----------------------------------------------------
 * Import Pywal colors 
 * ----------------------------------------------------- */

@import '.cache/wal/colors-waybar.css';

/* -----------------------------------------------------
 * Window
 * ----------------------------------------------------- */

* {
    all: unset;
}

#input {
    margin: -100px;
}

#window {
    border-radius: 8px;
    background-color: @transparentbackground;
    font-family: "UbuntuMono Nerd Font";
    font-size: 16px;
}

/* -----------------------------------------------------
 * Entry
 * ----------------------------------------------------- */

#entry:selected {
    border: 1px solid @border;
    background-color: @highlightbackground;
}

#entry {
    margin: 2px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid transparent;
}

#text:selected {
    color: @textnormal;
}

#text {
    color: @textnormal;
}
