# Log files
*.log

# Nvim lock file
lazy-lock.json

# Emacs generated config
config/emacs/auto-save-list/
config/emacs/config.el
config/emacs/config.org~
config/emacs/eln-cache/
config/emacs/elpa/
config/emacs/elpaca/
