# Log files
*.log

# Nvim lock file
lazy-lock.json

# Firefox generated config
firefox/*-user.js

# Emacs generated config
config/emacs/auto-save-list/
config/emacs/config.el
config/emacs/config.org~
config/emacs/eln-cache/
config/emacs/elpa/
config/emacs/elpaca/

# Generated styles
config/waybar/style.css
config/wofi/apps/style.css
config/wofi/logout/style.css
