#window {
    opacity: 0.9;
    border-radius: 10px;
    font-family: monospace;
    background: linear-gradient(45deg, rgba(51, 204, 255, 0.9), rgba(0, 255, 153, 0.9)) 1;
}

#outer-box {
    margin: 2px;
    border-radius: 8px;
    background-color: #3B4252;
}

#input {
    margin: 4px;
    padding: 8px;
    border-radius: 8px;
    background-color: #1f2335;
    color: #D8DEE9;
    border: 0px solid transparent;
    font-size: 18px;
}


#entry:selected {
    background-color: rgba(51, 204, 255, 0.2);
    border: 2px solid rgba(51, 204, 255, 0.8);
}

#entry {
    margin: 2px;
    padding: 10px;
    border-radius: 8px;
    font-size: 18px;
    border: 2px solid transparent;
}
