/*
 * __        __          _                  ____  _         _
 * \ \      / /_ _ _   _| |__   __ _ _ __  / ___|| |_ _   _| | ___
 *  \ \ /\ / / _` | | | | '_ \ / _` | '__| \___ \| __| | | | |/ _ \
 *   \ V  V / (_| | |_| | |_) | (_| | |     ___) | |_| |_| | |  __/
 *    \_/\_/ \__,_|\__, |_.__/ \__,_|_|    |____/ \__|\__, |_|\___|
 *                 |___/                              |___/
 *
 * ----------------------------------------------------- 
*/

/* Inspiration: */
/* https://github.com/mylinuxforwork/dotfiles/blob/main/share/dotfiles/.config/waybar/themes/ml4w/style.css */

/* -----------------------------------------------------
 * Import Pywal colors 
 * ----------------------------------------------------- */
/* @import 'style-light.css'; */

/* -----------------------------------------------------
 * General 
 * ----------------------------------------------------- */

* {
    font-size: 14px;
    font-family: "UbuntuMono Nerd Font";
    border: none;
    border-radius: 0;
    box-shadow: none;
    text-shadow: none;
    margin: 2px 2px 0px 2px;
    background-color: transparent;
}

.module, .custom {
    border-radius: 8px;
    padding: 0px 10px;
    margin: 0px 5px;
    /*background-color: @backgroundlight;*/
    background-color: rgba(23, 63, 79, 0.6);
    opacity: 0.8;
    /*color: @textcolor1;*/
    color: rgba(53, 185, 171, 1);
}

/* -----------------------------------------------------
 * Tooltips
 * ----------------------------------------------------- */

tooltip {
    /*background-color: @backgroundlight;*/
    background-color: rgba(23, 63, 79, 0.9);
    border-radius: 8px;
    padding: 0px;
    margin: 0px;
}

tooltip label {
    /*color: @textcolor1;*/
    color: rgba(53, 185, 171, 1);
    padding: 0px;
    margin: -6px -5px -4px -3px;
}

/* -----------------------------------------------------
 * Workspaces 
 * ----------------------------------------------------- */

/*
#workspaces {
    margin: 0 5px;
}

#custom-scratchpad {
    margin: 0px	5px;
    padding: 0px 5px;
}

#workspaces button {
    padding: 0 5px;
    color: rgba(53, 185, 171, 1);
}

#workspaces button.focused {
    color: rgba(115, 186, 37, 1);
}

#workspaces button.visible {
    color: rgba(115, 186, 37, 1);
}

#workspaces button.urgent {
    color: rgba(33, 164, 223, 1);
}
*/

/* -----------------------------------------------------
 * Modules
 * ----------------------------------------------------- */

#custom-power {
    padding-right: 8px;
}

#bluetooth, #backlight {
    padding-right: 12px;
}

#battery, #pulseaudio, #idle_inhibitor {
    padding-right: 17px;
}

/* -----------------------------------------------------
 * CPU, Memory & Temperature
 * ----------------------------------------------------- */

#cpu {
    border-radius: 8px 0 0 8px;
    margin-right: 0px;
    padding-right: 7px;
}

#memory {
    border-radius: 0;
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 7px;
}

#temperature {
    border-radius: 0 8px 8px 0;
    margin-left: 0px;
}

#cpu.warning, #memory.warning, #temperature.warning {
   color: rgba(255, 210, 4, 1);
}

#cpu.critical, #memory.critical, #temperature.warning {
    color: rgba(238, 46, 36, 1);
}

/* -----------------------------------------------------
 * Network
 * ----------------------------------------------------- */

#network.disconnected {
    border-width: 1px;
    border-color: rgba(255, 210, 4, 1);
    color: rgba(255, 210, 4, 1);
}

/* -----------------------------------------------------
 * Battery
 * ----------------------------------------------------- */

#custom-battery.warning {
   color: rgba(255, 210, 4, 1);
}

#custom-battery.critical {
    color: rgba(238, 46, 36, 1);
}

#custom-battery.charging {
    color: rgba(115, 186, 37, 1);}

/* -----------------------------------------------------
 * Bluetooth
 * ----------------------------------------------------- */

#bluetooth.disabled {
    color: rgba(128, 128, 128, 1);
    /*color: @textcolor2;*/
}

#bluetooth.off {
    color: rgba(128, 128, 128, 1);
    /*color: @textcolor2;*/
}

#bluetooth.connected {
    color: rgba(115, 186, 37, 1);
}

/* -----------------------------------------------------
 * Idle Inhibator
 * ----------------------------------------------------- */

#idle_inhibitor.deactivated {
    color: rgba(128, 128, 128, 1);
    /*color: @textcolor2;*/
}

/* -----------------------------------------------------
 * Window (Hide window name if no windows are open)
 * ----------------------------------------------------- */

window#waybar.empty #window {
    background-color: transparent;
}
