/*
 * __        __          _                  ____  _         _
 * \ \      / /_ _ _   _| |__   __ _ _ __  / ___|| |_ _   _| | ___
 *  \ \ /\ / / _` | | | | '_ \ / _` | '__| \___ \| __| | | | |/ _ \
 *   \ V  V / (_| | |_| | |_) | (_| | |     ___) | |_| |_| | |  __/
 *    \_/\_/ \__,_|\__, |_.__/ \__,_|_|    |____/ \__|\__, |_|\___|
 *                 |___/                              |___/
 *
 * ----------------------------------------------------- 
*/

/* Inspiration: */
/* https://github.com/mylinuxforwork/dotfiles/blob/main/share/dotfiles/.config/waybar/themes/ml4w/style.css */

/* -----------------------------------------------------
 * Import Pywal colors 
 * ----------------------------------------------------- */

@import '../../../.cache/wal/colors-waybar.css';


/* -----------------------------------------------------
 * General
 * ----------------------------------------------------- */

label {
    all: unset;
    text-shadow: 
        -0.05px -0.05px 2px @shadow,
        0.05px -0.05px 2px @shadow,
        -0.05px 0.05px 2px @shadow,
        0.05px 0.05px 2px @shadow;
}

button {
    all: unset;
}

* {
    font-family: "FiraCode Nerd Font";
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    margin: 2px 0px 0px 0px;
    background-color: transparent;
}

.module, .custom {
    border-radius: 12px;
    padding: 0px 10px;
    margin: 0px 5px;
    background-color: @transparentbackground;
    color: @textnormal;
    opacity: 0.8;
}

/* -----------------------------------------------------
 * Tooltips
 * ----------------------------------------------------- */

tooltip {
    background-color: @transparentbackground;
    border-radius: 8px;
    padding: 0px;
    margin: 0px;
}

tooltip label {
    color: @textnormal;
    padding: 0px;
    margin: -6px -5px -4px -3px;
}

/* -----------------------------------------------------
 * Workspaces 
 * ----------------------------------------------------- */

#workspaces {
    padding: 0px 3px;
    background-color: @transparentbackground;
}

#workspaces button {
    padding: 1px 6px;
    margin: 4px 2px;
    border-radius: 10px;
    color: @textnormal;
    background-color: @darkbackground;
    transition: all 0.3s ease-in-out;
    opacity: 0.5;
}

#workspaces button:hover {
    color: @textok;
}

#workspaces button.active {
    /*padding: 1px 10px;*/
    min-width: 15px;
    transition: all 0.3s ease-in-out;
    opacity: 1.0;
}

#workspaces button.focused {
    color: @textnormal;
}

#workspaces button.visible {
    color: @textnormal;
}

#workspaces button.urgent {
    color: @textwarning;
}

/* -----------------------------------------------------
 * Modules
 * ----------------------------------------------------- */

#custom-power {
    padding-right: 8px;
}

#bluetooth, #backlight {
    padding-right: 12px;
}

#battery, #pulseaudio, #idle_inhibitor {
    padding-right: 17px;
}

/* -----------------------------------------------------
 * CPU, Memory & Temperature
 * ----------------------------------------------------- */

#cpu {
    border-radius: 8px 0 0 8px;
    margin-right: 0px;
    padding-right: 7px;
}

#memory {
    border-radius: 0;
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 7px;
}

#temperature {
    border-radius: 0 8px 8px 0;
    margin-left: 0px;
}

#cpu.warning, #memory.warning, #temperature.warning {
    color: @textwarning;
}

#cpu.critical, #memory.critical, #temperature.warning {
    color: @textcritical;
}

/* -----------------------------------------------------
 * Network
 * ----------------------------------------------------- */

#network.disconnected {
    border-width: 1px;
    border-color: @textwarning;
    color: @textwarning;
}

/* -----------------------------------------------------
 * Battery
 * ----------------------------------------------------- */

#custom-battery.warning {
    color: @textwarning;
}

#custom-battery.critical {
    color: @textcritical;
}

#custom-battery.charging {
    color: @textok;
}

/* -----------------------------------------------------
 * Bluetooth
 * ----------------------------------------------------- */

#bluetooth.disabled {
    color: @textinactive;
}

#bluetooth.off {
    color: @textinactive;
}

#bluetooth.connected {
    color: @textok;
}

/* -----------------------------------------------------
 * Idle Inhibator
 * ----------------------------------------------------- */

#idle_inhibitor.deactivated {
    color: @textinactive;
}

/* -----------------------------------------------------
 * Window (Hide window name if no windows are open)
 * ----------------------------------------------------- */

window#waybar.empty #window {
    background-color: transparent;
}
