/* -----------------------------------------------------
 * Import Pywal colors 
 * ----------------------------------------------------- */

@import '.cache/wal/colors-waybar.css';

/* -----------------------------------------------------
 * Window
 * ----------------------------------------------------- */

* {
    all: unset;
}

#window {
    opacity: 0.9;
    border-radius: 8px;
    font-family: "FiraCode Nerd Font";
    background-color: @border;
}

#outer-box {
    margin: 2px;
    border-radius: 8px;
    background-color: @opaquebackground;
}

#text {
    margin-left: 15px;
    color: @textnormal;
}

/* -----------------------------------------------------
 * Input
 * ----------------------------------------------------- */

#input {
    margin: 4px;
    padding: 14px;
    border-radius: 6px;
    background-color: @darkbackground;
    color: @textnormal;
    font-size: 18px;
}

#input > image.left {
    margin-right: 10px;
    color: @textnormal;
}

/* -----------------------------------------------------
 * Entry
 * ----------------------------------------------------- */

#entry:selected {
    background-color: @highlightbackground;
    border: 2px solid @border;
}

#entry {
    margin: 2px;
    padding: 10px;
    border-radius: 6px;
    font-size: 18px;
    border: 2px solid transparent;
    color: @textnormal;
}

#expander-box {
    background-color: transparent;
    border-radius: 6px;
}
